<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <targets>
    <target name="event"
            xsi:type="File"
            encoding="utf-8"
            writeBom="true"
            layout="${longdate} ${message}"
            fileName="${basedir}/logs/event.log" />
  </targets>
  <rules>
    <logger name="*" levels="Info,Warn" writeTo="event" />
  </rules>
</nlog>